**/*~
**/.DS_Store
**/node_modules
**front-end/node_modules
**/npm-debug.log*
**/dist
**/dist-test
**/dist-prod
**/dist-stage
**/dist-review
**/build-test
**/build-prod
**/build-stage
**/build-review
**/.awcache
**/*.log
**/.scannerwork
report.html
webpack.gen
src/**/report.html
package-lock.json
yarn.lock